@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }
//El tablethorizontal lo he echo ccomo si fuera el Desktop
  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button($bg-color: $blue-dark, $color: white){
  display: inline-block;
  padding: 14px 24px;
  color: $color;
  background-color: $bg-color;
  text-decoration: none;
  border-radius: 1.5rem;
  &:hover {
    background-color: #666CA3;
  }
}

@mixin button--pink-orange(){
  @include button();
  background-image: $gradient-pink-orange;
  &:hover {
    background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%)); 
  }
}

@mixin button--pink-blue(){
  @include button();
  background-image: $gradient-pink-blue;
  &:hover {
    background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
  }
}

@mixin button-link() {
  color:$pink;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}