//Tamaños pantallas
$bp-tablet: 768px;
$bp-talbet-horizontal: 1024px;
$bp-mobile: 480px;
$bp-desktop: 1025px;
$bp-desktop-xl: 1441px;

// Colores
$white: #ffffff;
$black: #151515;
$orange: #d5966c;
$grey: #444444;

// Fuentes
$primary-font: 'Big Shoulders Display Black', sans-serif;
$secondary-font: 'Outfit', sans-serif;