//FUENTES
$roboto-font: "Roboto", sans-serif;
$primary-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

//COLORES
$color-black: #403C39;
$color-pink: #F38160;
$color-gray-1:#909090;
$color-gray-2:#949494;
$color-gray-3: #D0D0D2;
$color-orange: #F0B70D;

